#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #dc3545;    
}

#header h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: aliceblue;
}
